:root {
    --bg-colour: hsl(225, 81%, 17%);
    --font-colour: hsl(171, 100%, 72%);
    --secondary-colour: hsl(179, 44%, 55%);
    --title-font: 'Rock Salt', cursive;
    --primary-font:'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: var(--bg-colour);
    font-family: var(--primary-font);
    color: var(--font-colour);

}

img {
    /* margin: 2rem; */
    height: 100%;
    width: 100%;
    object-fit: cover; 
}
h4, p {
    font-size: 1.3rem; 
    font-weight: 400;
}

section.card {
    padding: 20px;
}

header {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 3rem;
}

.body__title {
    font-family: var(--title-font);
    font-size: 3rem;
    text-align: center;
}

.search__bar {
    font-size: 1.2rem;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.search__btn {
    font-size: 1.2rem;
    padding: 10px 15px;
    margin-left: 7px;
}

.search__bar:hover , .search__btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.2rem);
}

main{
    
    display: flex;
    align-content: center;
    flex-direction:  column;
    /* max-width: vw; */
    /* min-height: 74vh; */
    margin: 0 auto;
    padding-bottom: 10vh;
}

.card {
    color: black;
    background-color: hsl(171, 100%, 72%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* margin: 20px; */
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__image {
border-radius: 5px 5px 0 0;
padding: 20px;
max-width: 360px; 
}

.quotes__container {
padding: 2px 16px;
}

.cards__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap:  1%;
    grid-template-areas: "." ".";
}

.quote__container {
    padding: 1rem;
}



/* .cards__container {
    display: grid;
    max-width: 800px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-between;
    gap:  5%;
} */

.footer-wave {
    background-image: url(images/wave.svg);
}



@media only screen and (min-width: 768px){
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */
        gap: 3% 5% ;
        /* grid-template-areas: ". . . ."; */
        width: 80vw;
        margin: 0 auto;
        justify-items: center;
        justify-content: space-around;
      }

    .card {
        /* width: 70%; */
    }

    img {
        max-height: 50vh;
    }

    .body__title {
        font-family: var(--title-font);
        font-size: 2rem;
        text-align: center;
        }
}